* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    overflow-x: hidden;
}

body {
    color: @text;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #F90;
        background-image: -webkit-linear-gradient(45deg,
                rgba(255, 255, 255, .2) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, .2) 50%,
                rgba(255, 255, 255, .2) 75%,
                transparent 75%,
                transparent)
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: @animated;
}

input,
button {
    background-color: transparent;
    border: none;
}

.container {
    width: 90%;
    max-width: 1183px;
    margin: 0 auto;

    &.wide {
        max-width: 1511px;
    }
}

@ms: 'Montserrat', sans-serif;
@pp: 'Poppins', sans-serif;
@pn: 'Proxima Nova', sans-serif;
@ar: 'Avenir', sans-serif;

@text: #333;
@darkred: #663333;
@gray: #999;
@foonav: #3cd2d3;
@foohover: #7b83ec;
@white: #fff;
@section_h2: #403023;
@border: #e5e5e5;
@orange: #ffa403;

@animated: all, .5s ease;

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    -webkit-box-shadow: 0px 11px 27px -4px rgba(154, 49, 188, 0.33);
    -moz-box-shadow: 0px 11px 27px -4px rgba(154, 49, 188, 0.33);
    box-shadow: 0px 11px 27px -4px rgba(154, 49, 188, 0.33);
}

//COMMON STYLES

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

section .section-title {
    color: @section_h2;
    font-size: 30px;
    text-transform: uppercase;
    font-family: @ms;
    font-weight: bold;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    font-family: @ms;
    font-weight: bold;
    color: @white;
    border-radius: 5px;
    cursor: pointer;

    &-grad {
        transition: 0.5s;
        background-size: 200% auto;
        background-image: linear-gradient(to right, #7d81ed 0%, #43ccd5 51%, #7d81ed 100%);

        &:hover {
            background-position: right center;
            .shadow();
        }
    }
}

// FIRST SCREEN
nav {
    height: 80px;
    align-items: center;
    font-family: @ms;
    font-weight: 400;
    justify-content: space-between;

    .logo-link {
        border-right: 1px solid @border;
        height: 100%;
        font-size: 24px;
        display: flex;
        align-items: center;
        padding-right: 55px;

        .logo-img {
            margin: 0 22px;
        }
    }

    .user-action {
        .nav-elem:hover {
            color: @orange;
        }

        .tel {
            margin-right: 53px;
        }

        .flex-center();
        height: 100%;

        .user-act {
            transition: @animated;
            cursor: pointer;
            font-size: 20px;
            .flex-center();
            height: 100%;
            padding: 0 40px;
            border-left: 1px solid @border;
        }
    }
}

header {
    padding: 280px 0;
    background-image: url('../img/firstscreen.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-position: center center;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    color: @white;
    font-family: @pp;

    .promo-text {
        text-align: center;
        max-width: 800px;
        margin: auto;

        .title {
            font-size: 72px;
            font-weight: 500;
            letter-spacing: 10px;
        }

        .subtitle {
            font-size: 24px;
        }
    }
}

// WELCOME SECTION

section.welcome {
    background-color: @white;
    font-family: @ms;

    .check_wrap {
        background-color: @white;
        margin: 10px 0 46px;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.5);
        -moz-box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.5);
        box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.5);
        padding: 42px 45px 54px;

        form {
            justify-content: space-between;
            align-items: center;
            font-weight: bold;

            .input_fields {
                align-items: flex-end;
                margin: 0 100px;
                width: calc(80% - 200px);

                .col {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 17px;
                    width: calc(100% / 4);

                    &:first-of-type {
                        margin: 0 17px 0 0;
                    }

                    &:last-of-type {
                        margin: 0 0 0 17px;
                    }

                    label,
                    .label {
                        margin-bottom: 12px;
                    }
                }
            }

            .btn-grad {
                padding: 17px 0;
                width: 20%;
            }
        }
    }

    .subtitle {
        max-width: 800px;
        margin: 10px auto 0;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }

    .offer {
        padding: 130px 0;
        align-items: center;

        .text_wrap {
            width: calc(50% - 200px);
            margin-right: 200px;

            .title {
                font-size: 48px;
                font-family: @pn;
                margin-bottom: 10px;
            }

            .main-text {
                color: #11766d;
                font-size: 18px;
            }

            .sub-text {
                font-size: 14px;
                color: @gray;
                line-height: 20px;
                margin: 25px 0 45px;
            }

            .btn-grad {
                width: 100%;
                display: inline-block;
                text-align: center;
                padding: 18px 0;
            }
        }

        .video_wrap {
            width: 50%;

            video {
                width: 100%;
            }
        }
    }

    .container.wide {
        position: relative;

        .slider-controls {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            padding: 0 20px;

            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-top: 2px solid @gray;
                border-left: 2px solid @gray;

                &#prev {
                    transform: rotate(-45deg);
                }

                &#next {
                    transform: rotate(135deg);
                }
            }
        }
    }

    .promo-hotel_wrap {
        padding: 70px;
        background-color: #f7f7f8;
        margin-top: 120px;

        .hotel-card {
            .img_wrap {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px 20px;
                grid-template-areas: "big big sm1""big big sm2";

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .big {
                    grid-area: big;
                }

                .sm1 {
                    grid-area: sm1;
                }

                .sm2 {
                    grid-area: sm2;
                }
            }

            .info_wrap {
                margin-top: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .text_wrap {
                    width: calc((100% / 3) * 2);

                    .hotel-name {
                        font-size: 24px;
                        margin-bottom: 15px;
                    }

                    .short-info {
                        color: @gray;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .btn {
                    color: @text;
                    width: calc((100% / 3) - 20px);
                    margin-left: 20px;
                    text-align: center;
                    display: inline-block;
                    background-color: @white;
                    padding: 15px 0;
                    border: 1px solid #e8e8e8;

                    &:hover {
                        color: @foonav;
                        border-color: @foonav;
                    }
                }
            }
        }
    }
}

// JOIN US SECTION

section.join-us {
    padding: 165px 0;
    background-color: @white;
    font-family: @ms;
    text-align: center;

    .section-title {
        text-transform: none;
    }

    .subtitle {
        font-weight: 400;
        color: @gray;
        font-size: 18px;
        margin: 10px 0 50px;
    }

    .btn {
        background-color: #f7f7f8;
        color: @text;
        padding: 15px 40px;
        margin: 0 10px;

        &:hover {
            color: @white;
            background-color: #8a73f1;
            .shadow();
        }
    }
}

//PROMO SECTION

.social-promo {
    font-family: @ms;
    padding: 140px 0 0;
    background-color: #f7f7f8;
    text-align: center;

    .insta-logo_wrap {
        .subtitle {
            font-weight: 400;
            font-size: 18px;
            margin-top: 30px;
        }
    }

    .feed_wrap {
        margin-top: 140px;

        #feed {
            li {
                width: calc(100% / 8);

                img {
                    width: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
        }
    }

    .review_wrap {
        padding: 170px 0;
        background-image: url('../img/review-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-size: cover;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;

        .bx-wrapper {
            margin: 0 auto;
        }

        #review {
            display: flex;

            .review-card {
                background-color: rgba(255, 255, 255, .8);
                padding: 30px 50px;
                border-radius: 10px;
                width: 100%;
                backdrop-filter: blur(2px);

                .name {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 25px;
                }

                .review-text {
                    line-height: 28px;
                    font-size: 14px;
                    margin-bottom: 40px;
                }

                .stars_wrap {
                    text-shadow: 3px 5px 7px rgba(154, 49, 188, 0.33);

                    .icon-star {
                        color: #7d81ed;

                        &.no-star {
                            color: @gray;
                        }
                    }
                }
            }
        }
    }
}

//SERVICES SECTION 

section.services {
    padding: 90px 0 180px;
    background-color: #f7f7f8;
    font-family: @ms;
    font-size: 14px;

    .services_wrap {
        margin-top: 90px;

        .services-list {
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-between;

            .services-item {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0 20px;

                &.row {
                    margin-top: 140px;
                }

                .item-name {
                    margin: 40px 0 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .item-desc {
                    color: @gray;
                }
            }
        }
    }
}

//AMENITIES SECTION

section.amenities {
    padding: 100px 0 200px;
    background-color: @white;
    font-family: @ms;
    font-size: 14px;

    .amenities_wrap {
        margin-top: 93px;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin: 25px 0;

            .group-name {
                color: #403023;
                font-weight: bold;
                width: 30%;
                text-transform: uppercase;
            }

            .group-list {
                display: flex;
                width: 70%;

                .list-item {
                    padding: 0 15px;
                    color: #666;
                    border-left: 1px solid #666;

                    &:first-of-type {
                        padding: 0 15px 0 0;
                        border: none;
                    }
                }

                &.main {
                    .list-item {
                        padding: 5px 15px;
                        border-radius: 3px;
                        color: @white;
                        background-color: #3cd2d3;
                        border: none;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

//LEAFLET MAP

#map {
    height: 737px;
    background-color: #ededed;
}

//CONTACT SECTION

section.contact {
    padding: 110px 0 176px;
    background-color: #f5f5f5;
    font-family: @ms;

    .contact_wrap {
        margin: 100px 0 50px;
        justify-content: space-between;

        .contact-info {
            width: 20%;

            dl {
                font-size: 14px;

                dt {
                    font-weight: bold;
                }

                dd {
                    font-weight: 300;
                    margin-bottom: 40px;
                    line-height: 1.5;

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .form {
            width: calc(80% - 250px);
            margin-left: 250px;

            form {
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                input {
                    width: 50%;

                    &#name {
                        margin-right: 20px;
                        width: calc(50% - 20px);
                    }
                }

                textarea {
                    resize: none;
                    width: 100%;
                    border: none;
                    margin-top: 30px;
                    min-height: 150px;
                }

                input,
                textarea {
                    background-color: @white;
                    padding: 20px;
                    font-family: @ms;
                    transition: @animated;
                    border-bottom: 2px solid transparent;

                    &::placeholder {
                        font-weight: 300;
                    }

                    &:focus {
                        border-bottom-color: @foonav;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
            }
        }
    }

    .btn-grad {
        padding: 20px 50px;
        margin: 0 auto;
        display: block;
    }
}

//FOOTER

footer {
    background-color: @white;
    font-family: @ms;
    text-align: center;
    padding: 200px 0;
    font-size: 12px;

    ul {
        .flex-center();
        font-size: 14px;

        li {
            margin: 0 15px;
        }

        &.footer-nav {
            font-weight: bold;
            color: @foonav;
            margin-bottom: 70px;

            a:hover {
                color: @foohover;
            }
        }

        &.socials-list {
            margin: 35px 0 70px;

            a {
                .flex-center();
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid transparent;

                &:hover {
                    border-color: @text;
                }
            }
        }
    }

    .socials {
        p {
            color: @darkred;
            font-weight: bold;
        }
    }

    .copy {
        color: @gray;
    }
}

//MEDIA QUERIES

@media (max-width: 1160px) {
    section.welcome {
        .check_wrap {
            form {
                .input_fields {
                    margin: 0 100px 0 50px;
                    width: calc(75% - 150px);
                }

                .btn-grad {
                    padding: 17px 10px;
                    width: 25%;
                }
            }
        }
    }

    section.amenities {
        .amenities_wrap {
            .row {
                align-items: center;

                .group-name {
                    width: 15%;
                }

                .group-list {
                    width: 85%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    section.welcome {
        .offer {
            .text_wrap {
                width: calc(50% - 100px);
                margin-right: 100px;

                .title {
                    font-size: 42px;
                }
            }
        }
    }

    section.amenities {
        padding: 100px 0;

        .amenities_wrap {
            margin-top: 70px;

            .row {
                flex-direction: column;
                text-align: center;

                .group-name {
                    width: 100%;
                    padding: 15px 0;
                }

                .group-list {
                    justify-content: center;
                    width: 100%;

                    .list-item {
                        &:first-of-type {
                            padding: 0 15px;
                            border-left: 1px solid #666;
                        }

                        &:last-of-type {
                            border-right: 1px solid #666;
                        }
                    }

                    &.main {
                        .list-item {
                            border: none !important;
                        }
                    }
                }
            }
        }
    }

    section.contact {
        .contact_wrap {
            .form {
                width: calc(80% - 150px);
                margin-left: 150px;
            }
        }
    }
}

@media (max-width: 768px) {
    nav {
        height: 60px;

        .logo-link {
            font-size: 18px;
            padding-right: 22px;
        }

        .user-action {
            .tel {
                margin-right: 22px;
            }

            .user-act {
                padding: 0 22px;
            }
        }
    }

    header {
        padding: 180px 0;

        .promo-text {
            .title {
                font-size: 64px;
            }

            .subtitle {
                font-size: 18px;
            }
        }
    }

    section.welcome {
        .check_wrap {
            form {
                flex-direction: column;

                .input_fields {
                    margin: 0;
                    width: 100%;
                }

                .btn-grad {
                    margin-top: 30px;
                    width: 50%;
                }
            }
        }

        .offer {
            flex-direction: column;

            .text_wrap {
                width: 100%;
                margin: 0;

                .title {
                    font-family: @pn;
                }

                .btn-grad {
                    width: 50%;
                }
            }

            .video_wrap {
                margin-top: 30px;
                width: 100%;
            }
        }

        .promo-hotel_wrap {
            .hotel-card {
                .img_wrap {
                    gap: 10px 10px;
                }

                .info_wrap {
                    flex-direction: column;

                    .text_wrap {
                        width: 100%;

                        .hotel-name {
                            font-size: 18px;
                        }

                        .short-info {
                            font-size: 12px;
                        }
                    }

                    .btn {
                        margin: 30px 0 0 0;
                        width: 50%;
                    }
                }
            }
        }
    }

    section.services {
        padding: 90px 0;

        .services_wrap {
            margin-top: 70px;

            .services-list {
                flex-direction: row;

                .services-item {
                    width: 50%;
                    margin-bottom: 30px;

                    &.row {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    section.amenities {
        padding: 100px 0;

        .amenities_wrap {
            margin-top: 70px;

            .row {
                flex-direction: column;
                text-align: center;

                .group-name {
                    width: 100%;
                    padding: 15px 0;
                }

                .group-list {
                    justify-content: center;
                    width: 100%;

                    .list-item {
                        &:first-of-type {
                            padding: 0 15px;
                            border-left: 1px solid #666;
                        }

                        &:last-of-type {
                            border-right: 1px solid #666;
                        }
                    }

                    &.main {
                        flex-direction: row;
                        flex-wrap: wrap;

                        .list-item {
                            width: calc((100% / 3) - 10px) !important;
                            margin: 5px;
                            .flex-center();
                        }
                    }
                }
            }
        }
    }

    section.contact {
        .contact_wrap {
            .form {
                width: calc(80% - 100px);
                margin-left: 100px;
            }
        }
    }

    footer {
        padding: 100px 0;
    }
}

@media (max-width: 480px) {
    section {
        .section-title {
            font-size: 24px;
        }
    }

    nav {
        height: 60px;

        .logo-link {
            padding: 0;

            .logo-text {
                display: none;
            }
        }

        .user-action {
            .tel {
                margin-right: 22px;
            }

            .user-act {
                padding: 0 22px;
            }
        }
    }

    header {
        padding: 120px 0;

        .promo-text {
            .title {
                font-size: 42px;
            }

            .subtitle {
                font-size: 14px;
            }
        }
    }

    section.welcome {
        .subtitle {
            font-size: 14px;
            line-height: 24px;
        }

        .check_wrap {
            form {
                flex-direction: column;

                .input_fields {
                    flex-wrap: wrap;

                    .col {
                        width: 50%;
                        margin: 0 !important;

                        &:nth-of-type(3) {
                            margin-top: 15px !important;
                        }
                    }
                }

                .btn-grad {
                    margin-top: 30px;
                    width: 100%;
                }
            }
        }

        .offer {
            .text_wrap {
                .title {
                    font-size: 24px;
                }

                .main-text {
                    font-size: 16px;
                }

                .btn-grad {
                    width: 100%;
                }
            }
        }

        .promo-hotel_wrap {
            padding: 50px;

            .hotel-card {
                .img_wrap {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    gap: 5px 5px;
                    grid-template-areas: "big big""big big""sm1 sm2";

                    .big {
                        grid-area: big;
                    }

                    .sm1 {
                        grid-area: sm1;
                    }

                    .sm2 {
                        grid-area: sm2;
                    }
                }

                .info_wrap {
                    flex-direction: column;

                    .text_wrap {
                        width: 100%;

                        .hotel-name {
                            font-size: 14px;
                        }

                        .short-info {
                            font-size: 12px;
                        }
                    }

                    .btn {
                        margin: 30px 0 0 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    .social-promo {
        padding: 70px 0 0;

        .insta-logo_wrap {
            .subtitle {
                font-size: 14px;
                margin-top: 20px;
            }
        }

        .feed_wrap {
            margin-top: 70px;

            #feed {
                flex-wrap: wrap;

                li {
                    width: 25% !important;
                }
            }
        }
    }

    section.join-us {
        padding: 80px 0;

        .subtitle {
            font-size: 14px;
        }
    }

    #map {
        height: 437px;
    }

    section.contact {
        padding: 70px 0;

        .contact_wrap {
            margin: 50px 0;
            flex-direction: column;

            .contact-info {
                width: 100%;
            }

            .form {
                width: 100%;
                margin-left: 0;

                form {
                    flex-direction: column;

                    input {
                        width: 100% !important;
                        margin: 0;

                        &#name {
                            margin: 0 0 15px 0;
                        }
                    }

                    textarea {
                        margin-top: 15px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    footer {
        ul {
            li {
                margin: 15px 0;
            }

            &.footer-nav {
                flex-direction: column;
            }

            &.socials-list {
                margin: 35px 0;
                font-size: 16px;
                flex-wrap: wrap;
                a {
                    .flex-center();
                    margin: 0 15px;
                }
            }
        }

        .socials {
            p {
                color: @darkred;
                font-weight: bold;
            }
        }

        .copy {
            color: @gray;
        }
    }
    section.amenities {
        padding: 100px 0;

        .amenities_wrap {
            margin-top: 70px;

            .row {
                flex-direction: column;
                text-align: center;

                .group-name {
                    width: 100%;
                    padding: 15px 0;
                }

                .group-list {
                    justify-content: center;
                    width: 100%;
                    &.services {
                        flex-wrap: wrap;
                        .list-item {
                            &:nth-of-type(3) {
                                border-right: 1px solid #666;
                            }
                            &:nth-of-type(4), &:nth-of-type(5) {
                                margin-top: 10px;
                            }
                        }
                    }
                    .list-item {
                        &:first-of-type {
                            padding: 0 15px;
                            border-left: 1px solid #666;
                        }

                        &:last-of-type {
                            border-right: 1px solid #666;
                        }
                    }

                    &.main {
                        flex-direction: row;
                        flex-wrap: wrap;

                        .list-item {
                            width: calc((100% / 3) - 10px) !important;
                            margin: 5px;
                            .flex-center();
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 360px) {
    header {
        padding: 80px 0;
        .promo-text {
            .title {
                font-size: 36px;
            }
            .subtitle {
                font-size: 12px;
            }
        }
    }
    section.welcome {
        .subtitle {
            font-size: 12px;
            line-height: 18px;
        }
        .check_wrap {
            form {
                .input_fields {
                    .col {
                        width: 100%;
                        margin: 15px 0 !important;
                    }
                }
            }
        }

        .offer {
            padding: 70px 0;
        }
        .promo-hotel_wrap {
            padding: 15px;
            margin-top: 60px;
            .hotel-card {
                .img_wrap {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 5px 5px;
                    grid-template-areas: "big";

                    .big { grid-area: big; }

                    .sm1 { display: none; }
                    
                    .sm2 { display: none; }
                }

                .info_wrap {
                    .text_wrap {
                        text-align: justify;
                    }
                    .btn {
                        width: 50%;
                    }
                }
            }
        }
    }
    .social-promo {
        padding: 70px 0 0;
        .insta-logo_wrap {
            .subtitle {
                font-size: 12px;
                margin-top: 20px;
            }
        }
        .feed_wrap {
            margin-top: 70px;

            #feed {
                flex-wrap: wrap;

                li {
                    width: 50% !important;
                }
            }
        }
        .review_wrap {
            padding: 70px 0;
            #review {
                .review-card {
                    background-color: rgba(255, 255, 255, .8);
                    padding: 20px;
                    .name {
                        font-size: 14px;
                        margin-bottom: 15px;
                    }
                    .review-text {
                        line-height: 18px;
                        font-size: 12px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    section.services {
        padding: 70px 0;
        .services_wrap {
            margin-top: 35px;
            .services-list {
                .services-item {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }
    section.amenities {
        padding: 70px 0;
        .amenities_wrap {
            margin-top: 35px;
            .row {
                flex-direction: column;
                text-align: center;
                .group-name {
                    width: 100%;
                    padding: 15px 0;
                }

                .group-list {
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    width: 100%;
                    &.services {
                        flex-wrap: wrap;
                        .list-item {
                            border: none !important;
                            &:nth-of-type(4), &:nth-of-type(5) {
                                margin-top: 0;
                            }
                        }
                    }
                    .list-item {
                        border: none;
                        &:first-of-type {
                            padding: 0;
                            border-left: none;
                        }

                        &:last-of-type {
                            border-right: none;
                        }
                    }
                }
            }
        }
    }
    section .section-title {
        font-size: 20px;
    }
    section.join-us {
        padding: 40px 0;
        .subtitle {
            font-size: 12px;
        }
        .user-action {
            display: flex;
            flex-wrap: wrap;
            .btn {
                width: 100%;
                margin: 15px 0;
            }
        }
    }
}
@media (max-width: 320px) {
    section.welcome .container.wide .slider-controls {
        top: auto;
        bottom: 15px;
    }
}